body{
  height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  background-image: linear-gradient(185deg, #b5da81 0, #a8dc88 7.14%, #9bde90 14.29%, #8ce099 21.43%, #7ee2a4 28.57%, #6ee3ae 35.71%, #5ce4ba 42.86%, #48e5c5 50%, #2ee5d1 57.14%, #00e6dc 64.29%, #00e5e7 71.43%, #00e5f2 78.57%, #00e4fd 85.71%, #00e3ff 92.86%, #00e2ff 100%);
}
*{
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
    position: auto;
  }
  b{
    color: rgb(80, 76, 76);
  }
#container-da-imagem {
    width: 90%;
    min-width: 200px;
    
    position: relative;
}
.container1{
  margin-top:9%;
 
}
#container-da-imagem img {
    width: 100%
}
  h1 {
      color: rgb(255, 255, 255);
  }
  #splashart{
      padding-top: 20%;
  }
  .caixa-texto{width: 300px;}
 .btn-editar{
  float:right;
  margin-right: 15px;
  margin-top: 4px;
 }
 .btn2{
  position: sticky;
  left: 88%;
  min-width: 30px;
  margin-top: 10px;
}
 li {
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 4px;
    border: 0.5px solid #DFDFDF;
    height : 35px;
  }
  .tarefaconculida{
    background-color: #bffdcd;
    text-decoration: line-through;
  }
.card-header{
  color: #000;
}
.form-check-input{
  margin-right: 15px;
}
p{
  margin-left: 30px;
  margin-top: 2px;
}
.btn-outline-light{
  width: 150px;
}
.modal-dialog{
  margin-top: 10%;
}
#Buscar{
  background-image: url(../assets/icons/lupa.png);
  background-position: 99%;
  background-repeat: no-repeat;
}